.HomeImage {
  // position: absolute;
  // max-height: 100vh;
  // object-fit: cover;
  // display: block;
  // z-index: -1;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top: 0;

  object-fit: cover;
  min-height: 100vh;
  display: block;
  width: 100%;
}
