$font-size-px: 16px;
$line-height: 1.5;

$header-padding-vertical-mobile: 10px;
$header-padding-vertical-desktop: 20px;

$main-menu-item-bg-hover: #007fed;
$main-menu-item-bg-hover: #404040;
$main-menu-item-bg-active: #666;
$main-menu-item-color-normal: #333;
$main-menu-item-color-hover: #fff;
$main-menu-item-color-active: #fff;

$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;

$container-padding-horizontal: 10px;
$container-max-width: 1200px;
